body{
    font-family: 'Poppins', sans-serif;  
    margin: 0;

}
.banner{
    background-image: url(images/donation13.jpg);
    background-repeat:no-repeat;
    background-size: 100% ;
    
}
#banner-text{
    text-align: center;
    color: aliceblue;
    padding: 75px 300px 150px 300px;
}
#banner-heading{
    font-size: 42px;
}
#banner-button{
    width: 130px;
    height: 43px;
    border-radius:10px;
    background-color:rgba(255, 99, 71, 1);
    font-weight: 700;
}
#banner-a{
    text-decoration: none;
    color: aliceblue;
}
#donate-section{
    text-align: center;
    margin-top: 70px;
    padding-left:200px;
    padding-right: 200px;
}
.donate-amount{
    width:80px;
    height: 50px;
    margin: 10px;
    
    
   
}
#donate-input {
    border: 0px solid;  
    height: 20px;
    width: 200px;
    margin-top: 25px;
    margin-left:80px;
    align-items: center;
}
hr{
    width: 70%;
}
#donate-button{
    width: 170px;
    height: 43px;
    border-radius:5px;
    background-color:rgba(255, 99, 71, 1);
    font-weight: 700;
    color:white;
}
button:hover {
    background-color:hsl(0, 100%, 90%);
 }
#donate-plan{
    text-align: center;
    margin-top: 150px;
    margin-left: 350px;
    margin-right: 350px;
    
}
#card{
    display: flex;
    margin-left:30px;
    margin-top: 50px;
    
    
}
#card-item-left{
    width: 30%;
    height: 300px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color:#DCDCDC;
    margin-right: 20px;
    padding:10px;
    
}
#card-item-middle{
    width: 30%;
    height: 300px;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
    background-color:#F0F8FF;
    margin-right: 20px;
    padding:10px;
}
#card-item-right{
    width: 30%;
    height: 300px;
    background-color:#F0FFF0;
    padding:10px;

}
#receved-alart{
    background-color: black;
    width: 100%;
    height: 220px;
    margin-top: 100px;
}
#receved-alart-heading{
    font-size:30px;
    text-align: center;
    color: #F0F8FF;
    padding-top: 5px;
}
#email-input{
    width: 500px;
    height: 30px;
    margin-left: 100px;
}
#singup-button{
    width: 500px;
    height: 36px;
    margin-left: 10px;

}



#gallery-heding-text{
    margin-top:100px;
    font-size:30px;
    margin-left: 70px;

}
#gallery-div{
    display: flex;
    margin-left: 70px;
}
#gallery-item-left{
    width: 30%;
    height: 500px;
    margin-right: 20px;
    

}
#gallery-item-middle{
    width: 30%;
    height: 500px;
    margin-right: 20px;
    

}
#gallery-item-right{
    width: 30%;
    height: 500px;
   


}
footer{
    text-align: center;
    width:100%;
    height:200px;
    background-color: #483D8B;
}
